.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
  gap: 5px;
}

.board-tile {
  border: 2px solid rgb(211, 214, 218); /* dark theme: solid rgb(125, 125, 129);*/
  min-width: 60px;
  min-height: 60px;
  font-size: 42px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-transform: uppercase;
  color: black; /* dark theme: gainsboro; */
}

/* Mobile devices */
@media only screen and (max-device-width: 400px) {
  .board-tile {
    min-width: 125px;
    min-height: 125px;
    font-size: 80px;
  }
}
