.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: monospace;
}

.input-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.button-submit {
    transition-duration: 0.4s;
}

.button-submit:hover {
    background-color: rgb(107,170,101);
    color: white;
}

small {
    font-size: 1rem;
    font-weight: lighter;
    color: black;
}

.invalid-credentials {
    font-size: 1.2rem;
    color: transparent;
    font-weight: lighter;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: all 1s;
}

.invalid-credentials.show {
    color: darkred;
}

input[type="text"], input[type="password"] {
    font-size: 2rem;
    font-family: monospace;
    border: none;
    background-color: whitesmoke;
    border-radius: 5px;
}

button[type="button"] {
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: rgb(211, 214, 218);
    margin: 20px 20px 10px 20px;
    padding: 0px 10px;
}

.toggle-form {
    font-size: 1.4rem;
    font-family: monospace;
    font-weight: 500;
    color: olive;
    margin-top: 50px;
    padding-left: 200px;
    cursor: pointer;
    position: fixed;
    top: 440px;
}
