.finish-container {
  background-color: white;
  padding: 15px;
  border: 2px solid lightgray;
  border-radius: 20px;
}

.confirm-finish-prompt {
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.confirm-finish-button {
  font-size: 25px;
  font-family: monospace;
  border-radius: 25px;
  padding: 10px;
  border: none;
}

.invalid-finish {
  font-size: 1.2rem;
  color: transparent;
  font-weight: lighter;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: all 1s;
  text-align: center;
}

.invalid-finish.show {
  color: darkred;
}

#yes {
  background-color: dodgerblue;
  color: white;
}

#not-yet {
  color: black;
}

/* Mobile devices */
@media only screen and (max-device-width: 400px) {
  .finish-container {
    padding: 30px;
  }

  .confirm-finish-prompt {
    font-size: 60px;
  }
  .confirm-finish-button {
    font-size: 45px;
    padding: 20px;
    border-radius: 50px;
  }

  .invalid-finish {
    font-size: 40px;
    font-weight: 400;
  }
}
