nav {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(211, 214, 218);
  align-items: center;
  justify-content: center;
  /* padding: 1vw 0; */
  padding: 0;
  margin-bottom: 10px;
  width: 100%;
}

.more-info {
  position: absolute;
  left: 0;
  /* width: auto; */
  width: 50px;
}

.more-info-container {
  position: absolute;
  left: 0;
  z-index: 1000;
}

.help-info-container {
  position: absolute;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.burger-menu {
  width: 50%;
  height: auto;
  margin: 15px;
}

.yourdle-title {
  color: black;
  font-size: 48px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, Arial, sans-serif;
  margin: 0;
}

.options {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 10%;
  justify-content: right;
  gap: 10px;
  margin-right: 10px;
}

.question-mark {
  width: 35px;
}

.settings {
  width: 35px;
}

/* Mobile Devices */
@media only screen and (max-device-width: 600px) {
  .more-info {
    width: 125px;
    margin: 5px;
  }

  .question-mark {
    width: 80px;
    margin: 15px;
  }

  .yourdle-title {
    font-size: 100px;
    margin: 5px;
    font-family: Helvetica, sans-serif;
  }
}
